:root {
	--bg: #fffafa;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

*:link, *:visited{
	color: currentColor;
	text-decoration: none;
}

body {
	overflow-x: hidden;
	color: #2b2b2b;
	background-color: var(--bg);
	user-select: none;
	font-family: 'Roboto Mono', monospace;
	font-size: 4rem;
	font-weight: bold;
}

.calc {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 64rem;
	width: 48rem;
	padding: 6rem;
	background-color: #00563f;
}

.calc__display {
	width: 100%;
	height: 8rem;
	padding: 0 3rem;
	margin-bottom: 4rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: var(--bg);
}

.calc__current {
}

.calc__funcs {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	justify-content: center;
	align-items: center;
	font-size: .4em;
	margin-right: auto;
}

.calc__func {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3px;
	color: #aaaaaa;
}

.calc__func.active {
	color: currentColor;
}