:root {
	--bg: #fffafa;
	--calcbody: #b5b5bd55;
	--calcfunc: #3f434d;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

*:link, *:visited{
	color: currentColor;
	text-decoration: none;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
	color: #2b2b2b;
	background-image: url(/imgs/bg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	user-select: none;
	font-family: monospace;
	font-size: 3rem;
	font-weight: bold;
}

body > :first-child {
	margin-right: 4rem;
}

h2 {
	font-size: 1.5em;
	margin-bottom: 4px;
	text-transform: uppercase;
}

.calc {
	display: flex;
	flex-direction: column;
	height: auto;
	width: auto;
	padding: 3rem;
	background-color: var(--calcbody);
	backdrop-filter: blur(8px);
	box-shadow: 0 0 1rem black;
}

.calc__display {
	width: 100%;
	padding: 1rem 2rem;
	margin-bottom: 2rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: var(--bg);
}

.calc__icons {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	justify-content: center;
	align-items: center;
	font-size: .66em;
	margin-right: auto;
}

.calc__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 3px;
	color: #aaaaaa;
}

.calc__icon.active {
	color: currentColor;
}

.calc__io {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.calc__io > :first-child {
	margin-right: 2rem;
}

.calc__numpad {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	column-gap: 8px;
	row-gap: 8px;
}

.calc__modes {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	column-gap: 8px;
	row-gap: 8px;
}

.calc__button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 2rem;
	background-color: var(--bg);
}

.calc__func {
	background-color: var(--calcfunc);
	color: var(--bg);
}

.calc__modes .calc__button {
	width: 100%;
}

.history {
	width: auto;
	height: auto;
	list-style: square inside;
	padding: 3rem;
	height: 32rem;
	overflow-y: scroll;
	background-color: var(--calcbody);
	backdrop-filter: blur(8px);
	box-shadow: 0 0 1rem black;
	text-align: center;
}

.event {
}

.event:not(:last-child) {
	margin-bottom: 4px;
}